* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: rgb(199, 161, 234);
}

nav {
  background: rgba(255, 255, 255, 0.8);
  height: 70px;
}

header {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: 25px;
  color: #5c1c1c;
  font-weight: 500;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  list-style: none;
  margin: 0 5px;
  overflow: hidden;
}

.nav-links li a {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  display: inline-block;
  letter-spacing: 1px;
}

.sideBarOpen {
  cursor: pointer;
  color: #5c1c1c;
  font-size: 30px;
  padding: 5px;
  display: none !important;
}

@media (max-width: 790px) {
  .sideBarOpen {
    display: block !important;
  }

  .menu {
    position: fixed;
    width: 320px;
    height: 100%;
    left: -100%;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    z-index: 100;
  }

  .navBar-toggle {
    display: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sideBarClose {
    font-size: 24px;
    color: #f51010;
    cursor: pointer;
  }

  nav.active.menu {
    left: -0px;
  }

  .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li {
    margin: 20px;
  }

  .nav-links li a {
    display: block;
  }
}

.content {
  font-family: Arial, sans-serif;
  color: #be0000;
  background: rgb(240, 189, 234);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 100px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

.content h1 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  color: inherit;
}

.content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 7px;
  background-color: #5c1c1c;
  font-size: 0.7rem;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .content {
    margin: 30px 5vw 0;
    padding: 10px;
    font-size: 1rem;
  }
}