p* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #553434;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #474444;
  padding: 25px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#stopwatchDuration {
  font-size: 55px;
  color: #030000;
  padding: 20px;
}

.lapsButton {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.lapsButton button {
  height: 45px;
  width: 25px;
  border-radius: 5px;
  background: #11537f;
  border: none;
  outline: none;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font: size 16px;
}

#laps {
  height: 200px;
  padding: 10px;
  overflow: auto;
}

.laps li {
  font-size: 22px;
  padding: 10px;
}